
<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community 
  of developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
  consectetur adipisicing elit. Exercitationem, omnis, temporibus fugit 
  fuga eum aliquid error. Rem, excepturi harum libero atque ut culpa reiciendis 
  maxime rerum. Veniam eum dolor temporibus. Lorem ipsum dolor sit amet, 
  consectetur adipisicing elit. A, nemo, incidunt sunt molestiae soluta placeat 
  voluptates aspernatur totam saepe alias accusantium dolore numquam aliquam! 
  Maxime, ipsa fugit nostrum accusamus neque.</p>
</div>